.error-container{
    border: 1px solid rgba(231, 36, 36, 0.704);
    background-color: lightcoral;
    margin-bottom: 1em;

    p {
        font-size: 1.5rem;
        padding: .2em;
        color: #fff;
        text-align: center;
    }
}