<div class="sidenav-container" [@openClose]="isOpen ? 'open' : 'closed'">
  <div class="sidenav-list">
    <a class="sidenav-element" routerLink="/appointments">
      <span>
        <mat-icon>calendar_month</mat-icon>
      </span>
      <span class="element-text">Appointments</span>
    </a>
    <a class="sidenav-element">
      <span>
        <mat-icon>list_alt</mat-icon>
      </span>
      <span class="element-text">Logs</span>
    </a>
    <a class="sidenav-element">
      <span>
        <mat-icon>people</mat-icon>
      </span>
      <span class="element-text">Clients</span>
    </a>
    <a class="sidenav-element" routerLink="/templates" routerLinkActive="active">
      <span>
        <mat-icon>label</mat-icon>
      </span>
      <span class="element-text">Templates</span>
    </a>
  </div>
</div>