.container{
    // height: 100%; THE CONTAINER HAS A HEIGHT EQUAL AS THE CONTENT, IF THE CONTENT HAS HEIGHT OF 150vh SO DO THE CONTAINER.
    display: flex;
    width: 100%;

    .content{
        margin-top: 5em;
        width: 100%;
        // min-height: 100%;
    }
}