.form{
    display: flex;
    flex-direction: column;
    padding-top: 1.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-top: 1em;
}

.error-message{
    color: red;
    text-align: center;
}

.name-input {
    outline-color: red;
}