<h1 mat-dialog-title>
    @if (data === null) {
        <span>Create appointment template</span>
    }@else {
        <span>Update appointment template</span>
    }
</h1>
<mat-dialog-content>
    <div class="form">
        <mat-form-field appearance="outline" class="name-input">
            <mat-label>Name</mat-label>
            <input
                [(ngModel)]="name"
                name="name"
                matInput
            />
        </mat-form-field>

        <div>
            <label>Duration</label>
            <div class="duration-group">
                <mat-form-field appearance="outline" class="hours-input">
                    <mat-label>Hours</mat-label>
                    <input
                        [(ngModel)]="hours"
                        type="number"
                        min="0"
                        name="hours"
                        matInput
                    />
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Minutes</mat-label>
                    <input
                        [(ngModel)]="minutes"
                        type="number"
                        name="minutes"
                        min="0"
                        matInput
                    />
                </mat-form-field>
            </div>
        </div>

        <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput
                      rows="10"
                      name="description"
                      [(ngModel)]="description"></textarea>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Price</mat-label>
            <input
                type="number"
                name="price"
                matInput
                [(ngModel)]="price"
            />
        </mat-form-field>
    </div>
</mat-dialog-content>
@if (isSubmitted && name.length === 0){
    <p class="error-message">Name is required.</p>
}

<mat-dialog-actions [ngClass]="data ? 'dialog-actions-update' : ''">
    @if (data) {
        <button class="delete-btn" (click)="onSingleDelete(data.id)">
            <mat-icon class="trash-icon">delete</mat-icon>
        </button>
    }
    <div>
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-flat-button (click)="onSubmit()">Submit</button>
    </div>
</mat-dialog-actions>
