.form{
    display: flex;
    flex-direction: column;
    padding-top: 1.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-top: 1em;
}

.error-message{
    color: red;
    text-align: center;
}

.name-input {
    outline-color: red;
}

.duration-group{
    margin-top: .5em;
    display: flex;
}

.hours-input {
    margin-right: 1em;
}

.dialog-actions-update {
    display: flex;
    justify-content: space-between;
}

.delete-btn {
    border: 0;
    background-color: #fff;
    cursor: pointer;
}

.trash-icon {
    color: red;
}