/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; padding: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.snackbar-success > div{
    background-color: #54ac68 !important;
    color: #fff !important;
  }
  
  .snackbar-error > div{
    background-color: #cc0000 !important;
    color: #fff !important;
  }
  
  .snackbar-success .mdc-button__label {
    color: #fff !important;
  }
  
  .snackbar-error .mdc-button__label {
    color: #fff !important;
  }
